/* ----- General ----- */
img {
  max-width: 100%;
}

/* ----- Housing Section ----- */
.housing {
  background-color: white;
  padding: 10px;
  border: 3px solid #e2dfdf;
  border-radius: 20px;
  margin: 10px;
  width: auto;
  display: flex;
  gap: 1em;
}

@media screen and (max-width: 900px) {
  .housing {
    flex-direction: column;
  }
}

/* ----- Photo Section ----- */
.housing__photo {
  position: relative;
}

.photo-container {
  padding: 5px;
  left: -2.5em;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

/* ----- Info Section ----- */
.housing__info {
  padding: 0.8em 0;
}

.title h1 {
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 1.5em;
  font-weight: 900;
}
.title span {
  font-size: 0.7em;
  color: #a6a6a6;
}

.price {
  margin: 1.5em 0;
  color: #00a8ff;
  font-size: 1.2em;
}
.price span {
  padding-left: 0.15em;
  font-size: 2.9em;
}

.description {
  clear: left;
  margin: 2em 0;
}
.description h3 {
  margin-bottom: 1em;
}

.buy--btn {
  padding: 1.5em 1.5em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #00a8ff;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;
  display: flex;
  align-items: center;
  float: left;
  margin-bottom: 1em;
}
.buy--btn:active {
  transform: scale(0.97);
}

/* ----- People Section ----- */
.people {
  display: flex;
}

@media screen and (max-width: 900px) {
  .people {
    flex-direction: column;
  }
}

/* ----- Flatmates Section ----- */
.flatmates {
  padding: 10px;
  background-color: #f9be46;
  border-radius: 20px;
  margin: 10px;
  width: auto;
}

.flatmates__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

@media screen and (max-width: 300px) {
  .flatmates__container {
    flex-direction: column;
  }
}

/* ----- Container Title ----- */
.container__title {
  display: flex;
  align-items: center;
}

.container__title h1 {
  margin-left: 0;
  padding-top: 0.6em;
}

.container__title img {
  margin-right: 1.2em;
  margin-left: 1.4em;
}

/* ----- Owner Section ----- */

.owner {
  padding: 10px;
  background-color: #464b4f;
  border-radius: 20px;
  margin: 10px;
  width: auto;
}

.owner h1 {
  color: #fff;
}
