:root{
    --flatter-red-color: #ed3f79;
    --flatter-purple-color: #92278f;
    --flatter-yellow-color: #fecb35;
    --flatter-blue-color: #00A8FF;
    --flatter-orange-color: #FAB315;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 16px;
    color: #333;
}

section{
    width: 100%;
    overflow-x: hidden;
}

.site-content{
    width: 100vw;
    height: 100vh;
    padding-top: 70px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../files/images/flatter-bg.jpg');
    background-size: cover;
    overflow-y: scroll;
}

.glass {
    background: rgba(0, 0, 0, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
}

.card {
    background: #fff;
    box-shadow: 0px 4px 12px #00000045;
    border-radius: 8px;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

.form-group > label > *:not([type="checkbox"]) {
    display: block;
    width: 100%;
    margin-top: auto;
}

.form-group > label {
    display: flex;
    flex-direction: column;
}

.form-group > label:first-child {
    padding-left: 0px;
}
.form-group > label {
    padding-left: 10px;
}