.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* WHATSFLATTER SECTION */
#whatsFlatter {
  display: flex;
  padding: 30px;
}

#whatsFlatter > div {
  flex: 1;
}

#whatsFlatter img {
  width: 100%;
  height: auto;
}

#whatsFlatter > div:last-child {
  padding: 10px 10px 10px 20px;
}

#whatsFlatter > div:last-child p {
  margin-top: 10px;
}

/* FASTVIEW SECTION */
#fastView {
  display: flex;
  padding: 90px 0 30px;
}

#fastView > .view {
  flex: 1;
  background: #fff;
  box-shadow: 0px 4px 12px #00000045;
  border-radius: 8px;
  margin: 0 20px;
}

#fastView > .view > .view-header {
  display: flex;
  align-items: end;
}

#fastView > .view > .view-header > div {
  position: relative;
  flex: 1;
  padding-left: 10px;
}

#fastView > .view:hover > .view-header > div > img {
  bottom: 10px;
}

#fastView > .view > .view-header > div > img {
  position: absolute;
  bottom: 0px;
  transition: all ease 0.5s;
  max-width: 100%;
  height: auto;
}

#fastView > .view > .view-header > h3 {
  flex: 2;
  padding: 14px 10px 2px 0px;
}

#fastView > .view > .view-content {
  padding: 20px;
}


/* FEATURES */
#features {
  padding: 30px 35px;
}

#features > .toggle-features > div {
  display: flex;
  align-items: end;
}

#features > .toggle-features > div > div > h2 {
  text-align: center;
  text-transform: uppercase;
}

#features > .toggle-features > div > div > p {
  margin: 10px 0 20px;
  min-height: 58px;
}

#features > .toggle-features > div > div {
  flex: 1;
}

#features > .toggle-features > div > div:first-child img {
  width: 100%;
  height: auto;
}

#features .toggle-features .toggle {
  position: relative;
}

#features .toggle-features .toggle-action.selected-left > div:first-child, #features .toggle-features .toggle-action.selected-right > div:last-child {
  color: #fff;
}

#features .toggle-features .toggle-action:after {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  height: calc(100% - 12px);
  border-radius: 6px;
  background: var(--flatter-blue-color);
  margin: 6px;
  box-sizing: border-box;
  content: '';
  transition: all 0.3s;
}

#features .toggle-features .toggle-action.selected-right:after {
  left: calc(50% - 12px);
  background: var(--flatter-orange-color)
}

#features .toggle-features .toggle .toggle-action {
  display: flex;
  position: relative;
}

#features .toggle-features .toggle .toggle-action > div {
  flex: 1;
  text-align: center;
  padding: 20px 10px;
  z-index: 1;
}

#features .toggle-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#features .toggle-content img {
  width: 72px;
  height: 72px;
}

#features .toggle-content > div {
  margin-top: 35px;
  padding-right: 15px;
  width: 100%;
}

#features .toggle-content > div > .toggle-content-img {
  display: table;
  margin: 0 auto 0 0;
}

#features .toggle-content > div > h3 {
  margin-top: 20px;
}

#features .toggle-content > div > p {
  text-align: justify;
  min-height: 76px;
}