/* WHATSFLATTER SECTION */
#whatsFlatter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

#whatsFlatter > div {
  flex: 1;
}

#whatsFlatter img {
  width: 100%;
  height: auto;
}

#whatsFlatter > div:last-child {
  padding: 10px 10px 10px 20px;
}

#whatsFlatter > div:last-child h2 {
  text-align: justify;
  color: var(--flatter-blue-color);
  text-shadow: 0 2px 2px rgb(175 175 175 / 39%);

}

#whatsFlatter > div:last-child p {
  margin-top: 20px;
  text-align: justify;
}

/* FASTVIEW SECTION */
#fastView {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 90px 0 30px;
}

#fastView > .view {
  width: 400px;
  background: #fff;
  box-shadow: 0 4px 12px #00000045;
  border-radius: 8px;
  margin: 0 20px;
}

#fastView > .view > .view-header {
  display: flex;
  align-items: flex-end;
}

#fastView > .view > .view-header > div {
  position: relative;
  flex: 1;
  padding-left: 10px;
}

#fastView > .view:hover > .view-header > div > img {
  bottom: 10px;
}

#fastView > .view > .view-header > div > img {
  position: absolute;
  bottom: 0;
  transition: all ease 0.5s;
  max-width: 100%;
  height: 115px;
  width: 115px;
}

#fastView > .view > .view-header > h3 {
  flex: 2;
  padding: 14px 10px 2px 0;
  color: var(--flatter-blue-color);
  text-shadow: 0 2px 2px rgba(175, 175, 175, 0.40);
}

#fastView > .view > .view-content {
  text-align: center;
  padding: 20px;
}

#fastView > .view > .view-footer {
  padding-bottom: 20px;
}

#fastView > .view > .view-footer > div {
  position: relative;
  max-width: calc(200%/3);
  width: 100%;
  margin: auto;
}

#fastView > .view > .view-footer > div > a {
  position: absolute;
  width: 100%;
}

/* FEATURES */
#features {
  padding: 30px 35px;
}

#features > .toggle-features > div {
  display: flex;
  align-items: flex-end;
}

#features > .toggle-features > div > div > h2 {
  text-align: center;
  text-transform: uppercase;
}

#features > .toggle-features > div > div > p {
  margin: 10px 0 20px;
  text-align: center;
  min-height: 58px;
}

#features > .toggle-features > div > div {
  flex: 1;
}

#features > .toggle-features > div > div:first-child img {
  width: 100%;
  height: auto;
}

#features .toggle-features .toggle {
  position: relative;
}

#features .toggle-features .toggle-action.selected-left > div:first-child, #features .toggle-features .toggle-action.selected-right > div:last-child {
  color: #fff;
}

#features .toggle-features .toggle-action:after {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  height: calc(100% - 12px);
  border-radius: 6px;
  background: var(--flatter-blue-color);
  margin: 6px;
  box-sizing: border-box;
  content: '';
  transition: all 0.3s;
}

#features .toggle-features .toggle-action.selected-right:after {
  left: calc(50% - 12px);
  background: var(--flatter-orange-color)
}

#features .toggle-features .toggle .toggle-action {
  display: flex;
  position: relative;
}

#features .toggle-features .toggle .toggle-action > div {
  flex: 1;
  text-align: center;
  padding: 20px 10px;
  z-index: 1;
  cursor: pointer;
  text-transform: uppercase;
}

#features .toggle-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#features .toggle-content img {
  width: 72px;
  height: 72px;
}

#features .toggle-content > div {
  margin-top: 35px;
  padding-right: 15px;
  width: 80%;
}

#features .toggle-content > div > .toggle-content-img-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#features .toggle-content > div > div > .toggle-content-img {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

#features .toggle-content > div > .toggle-content-img > img {
  width: 90%;
  height: 90%;
}

#features .toggle-content > div > h3 {
  margin-top: 20px;
}

#features .toggle-content > div > p {
  margin-top: 10px;
  text-align: justify;
  min-height: 76px;
}

/* ZOOM */

#zoom {
  padding: 30px 35px;
}

#zoom > h1{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

/* MAIL FORM */

#mc_embed_signup{
  clear: left; 
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}

.mail-form-container{
  display: flex;
  justify-content: space-around;
}

.email-form-control-flags{
  position: absolute;
}

.mail-form-input-column,
.mail-form-text-column{
  flex: 1;
  padding: 0 20px;
}

.mail-form-text-column > p{
  margin-top: 10px;
  text-align: justify;
}

.mail-form-input-column{
  position: relative;
  display: flex;
}

.email-text{
  display: block;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px !important;
}

.mc-field-group{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0 !important;
}

.email-input{
  height: 100%;
  max-height: 50px;
  border-radius: 25px !important;
  margin-bottom: 0 !important;
}

.submit-button{
  position: absolute;
  top: 50%;
  right: 7.5%;
  border-radius: 25px !important;
  transform: translateY(-50%);
}

/* RESPONSIVE */

@media screen and (max-width: 1319px) {

  /* FASTVIEW */

  #fastView > .view:nth-child(3){
    margin-top: 100px;
  }
}

@media screen and (max-width: 1100px) {

  /* FEATURES */

  #features > .toggle-features > div{
    flex-direction: column;
  }
}

@media screen and (max-width: 879px) {

  /* FASTVIEW */

  #fastView > .view:nth-child(2){
    margin-top: 100px;
  }
}

@media screen and (max-width: 760px) {

  /* WHATS FLATTER */

  #whatsFlatter {
    flex-direction: column;
  }

  #whatsFlatter > div:last-child h2 {
    margin-top: 20px;
  }

  /* FEATURES */

  #features .toggle-content {
    grid-template-columns: 1fr;
  }

  #features .toggle-content > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #features .toggle-content > div > h3,
  #features .toggle-content > div > p{
    max-width: 400px;
    text-align: center;
  }

  #features .toggle-content > div > .toggle-content-img-row {
    justify-content: center;
  }

  /* MAIL FORM */

  .mail-form-container{
    flex-direction: column;
  }
  
  .mail-form-text-column > p{
    text-align: center;
    margin-bottom: 20px;
  }

  .mail-form-input-column{
    flex-direction: column;
    justify-content: space-around;
    margin: 0 !important;
  }
  
  .email-text{
    text-align: center;
    margin-bottom: 20px !important;
  }
  
  .mc-field-group{
    width: 100%;
  }
  
  .email-input{
    width: 100%;
    margin-bottom: 20px !important;
  }
  
  .submit-button{
    position: static;
    margin: 0 !important;
    margin-top: 20px!important;
  }

  .foot{
    grid-template-columns: 1fr !important;
  }

}

@media screen and (max-width: 440px) {

  /* FASTVIEW */

  #fastView > .view > .view-header {
    display: block;
    margin-top: 50px;
  }

  #fastView > .view > .view-header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #fastView > .view > .view-header > h3 {
    text-align: center;
    padding: 14px 0 2px 0;
  }

  #fastView > .view > .view-header > div > img {
    margin-top: -50px;
    transition: all ease 0.5s;
    height: 115px;
    width: 115px;
  }
}

/* ANIMATIONS */

@keyframes rounded-shake {
  0% {
      transform: rotate(0deg);
  }
  33%{
    transform: rotate(15deg);
  }
  66%{
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}