.no-favorites-message{
    margin: 50px 20%;
    width: 60%;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px #00000045;
}

.no-favorites-message > h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .no-favorites-message{
        margin: 100px 10%;
        width: 80%;
    }
}