.contracts {
    width: 100%;
}

.contract {
    width: 100%;
    padding: 10px;
}

.contract-dates {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contract-dates > span {
    font-size: 1.2rem;
    font-weight: bold;
}

.contract-cancel-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contract-cancel-btn:hover {
    transform: scale(1.1);
}