.site-content-sidebar {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin-top: 50px;
}

.site-content-sidebar > .sidebar {
    flex: 1;
}

.site-content-sidebar > .sidebar > div {
    padding: 10px;
}

.site-content-sidebar > .sidebar .class-form-group {
    margin-bottom: 20px;
}

.site-content-sidebar > .content {
    flex: 3;
}

.properties > .content {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 25px;
}

.properties .property-card {
    margin-bottom: 20px;
}

.properties .property-card {
    width: 100%;
    display: flex;
}

.properties .property-card > .property-gallery {
    flex: 1;
}

.properties .property-card > .property-body {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-top: initial;
}

.properties .property-card > .property-body > .property-meta {
    margin-top: auto;
    width: 100%;
    display: flex;
}

.properties .property-card > .property-body > .property-footer {
    display: flex;
    width: 100%;
}

.properties .property-card > .property-body > .property-footer > a {
    flex: 1;
    border-radius: 0;
}

.properties .container-slider {
    height: 225px;
}

.properties .property-body-content {
    width: 100%;
    padding: 10px;
}

.properties .property-body-content .property-header {
    display: flex;
}

.properties .property-body-content h3 {
    flex: 1;
}

.properties .property-card > .property-body > .property-meta > .meta-left {
    flex: 1;
    display: flex;
    padding-bottom: 8px;
}

.properties .property-card > .property-body > .property-meta > .meta-left > div {
    align-items: center;
    display: flex;
}

.properties .meta-right button {
    padding: 10px 20px;
    color: #fff;
    border-radius: 25px;
    border: 0px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.meta-right {
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
    align-items: center;
    flex: 1;
}

.property-footer > button {
    border-radius: 0;
    flex: 1;
}

.properties .property-card > .property-body > .property-meta > .meta-location {
    display: flex;
    align-items: center;
    margin: initial;
}


@media only screen and (max-width: 768px) {

    .site-content-sidebar {
        display: block;
    }

    .site-content-sidebar > .sidebar {
        margin: 20px;
    }

    .properties > .content {
        padding-right: 25px;
    }

    .properties .property-card {
        display: block;
    }
}