.property-body {
    display: flex;
    max-width: 1080px;
    width: 100%;
    margin-top: -150px;
}

.property-body .property-sidebar {
    flex: 1;
}

.property-body .property-sidebar img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.property-gallery .property-gallery-thumbs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.property-gallery .property-gallery-thumbs > * {
    padding: 10px;
}

.property-body .property-content {
    flex: 2;
    padding-top: 40px;
}

.property-content-title {
    height: 110px;
    border-radius: 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.property-content-title > * {
    width: 100%;
}

.property-content-title > h1 {
    flex: 1;
    color: #fff;
}

.property-content-subtitle {
    display: flex;
    align-items: baseline;
}

.property-subtitle-left {
  flex: 1;
}

.property-tag {
  margin: 0 10px 10px 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: inline-block;
}

.property-content-description {
    background: #fff;
    padding: 10px 20px 20px;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 3px 3px #0000000f;
}