.properties-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 40px 40px 80px;
  color: #000000;
  text-align: center;
}
/* SEARCHVIEW SECTION */
#searchView {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 90px 0 30px;
}
/*filterview (left side) */
#searchView > .filterview {
  max-width: 400px;
  max-height: 275px;
  background: #fff;
  box-shadow: 0px 4px 12px #00000045;
  border-radius: 20px;
  margin: 0 20px;
}

#searchView > .filterview > .filterview-header {
  display: flex;
  align-items: flex-end;
}

#searchView > .filterview > .filterview-header > div {
  position: relative;
  flex: 1;
  padding-left: 10px;
}

#searchView > .filterview:hover > .filterview-header > div > img {
  bottom: 10px;
}

#searchView > .filterview > .filterview-header > div > img {
  position: absolute;
  bottom: 0px;
  transition: all ease 0.5s;
  max-width: 100%;
  height: 115px;
  width: 115px;
}

#searchView > .filterview > .filterview-content {
  padding: 20px;
}

#searchView > .filterview > .filterview-content > div {
  padding-bottom: 10px;
}

#searchView > .filterview > .filterview-header > h3 {
  flex: 2;
  padding: 14px 10px 2px 10px;
  color: #000000;
  text-shadow: 0px 2px 2px rgba(175, 175, 175, 0.4);
}

/*listview (right side) */
#searchView > .listview {
  width: 900px;
  background: #fff;
  box-shadow: 0px 4px 12px #00000045;
  border-radius: 20px;
  margin: 0 20px;
  margin-top: 3px;
}

#searchView > .listview > .listview-header {
  display: flex;
  align-items: flex-end;
}

#searchView > .listview > .listview-header > div {
  position: relative;
  flex: 1;
  padding-left: 10px;
}

#searchView > .listview:hover > .listview-header > div > img {
  bottom: 10px;
}

#searchView > .listview > .listview-content {
  text-align: center;
  padding: 20px;
}

#searchView > .listview > .listview-header > h3 {
  flex: 2;
  padding: 14px 10px 2px 0px;
  color: var(--flatter-blue-color);
  text-shadow: 0px 2px 2px rgba(175, 175, 175, 0.4);
}

.email-text {
  display: block;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px !important;
}

.mc-field-group {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0 !important;
}

.text-input {
  height: 100%;
  max-height: 50px;
  border-radius: 25px !important;
  margin-bottom: 0 !important;
}

.text-input > .placeholder {
  padding-left: 10px;
}

/*subsections (right) */

#informationView {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
}

#informationView > .listview {
  width: 360px;
  height: 485px;
  background: #fff;
  box-shadow: 0px 4px 12px #00000045;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
}

#informationView > .listview > .listview-header {
  display: flex;
  align-items: flex-end;
}

#informationView > .listview > .listview-header > div {
  position: relative;
  flex: 1;
  padding-left: 10px;
}

#informationView > .listview > .listview-content {
  text-align: center;
  padding: 10px;
}

#informationView > .listview > .listview-header > h3 {
  color: #000000;
  padding: 1px 5px 2px 20px;
}

.small-picture {
  width: 35px !important;
  height: 35px;
  padding-top: 5px;
  padding-left: 10px;
  float: left;
}
.small-picture-back {
  width: 35px !important;
  height: 35px;
  padding-top: 5px;
  padding-left: 10px;
  float: left;
}
.location {
  padding-top: 20px;
  padding-left: 20px;
}
.team {
  padding-top: 15px;
  padding-left: 20px;
}

.small-size {
  font-size: small;
  overflow: scroll;
  height: 55px;
  text-align: justify;
  text-justify: inter-word;
}

.styled-button {
  background-color: #ffda07;
  border: none;
  color: white;
  padding: 15px 32px 15px 32px;
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 325px;
}

.styled-button:hover {
  padding: 20px;
  background-color: #feba00;
  transition: 0.7s;
}

.styled-info-button {
  background-color: #ffda07;
  border: none;
  color: white;
  padding: 15px 32px 15px 32px;
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 166px;
}

.styled-info-button:hover {
  padding: 20px;
  background-color: #feba00;
  transition: 0.7s;
}

.etiquetacontainer {
  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
    height: 10%;
    overflow-x: scroll;
}