.shop-page-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
  margin-top: 40px;
}

.shop-page-container > h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.shop-page-content {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .shop-page-content {
    flex-direction: column;
  }
}

.shop-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
