.modal-backdrop{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.modal-content-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90vw;
    height: 90vh;
    background: white;
    border-radius: 15px;
    margin: auto;
    padding: 2vw;
    z-index: 10001;
}

.modal-content{
    width: 100%;
    height: 100%;
}