form.form {
    padding-top: 20px;
}

form.form .form-group > div {
    width: 100%; 
    padding-right: 20px;
}

form.form .form-group > div:last-child {
    padding-right: 0;
}

.form-group {
    display: flex;
    margin-bottom: 25px !important;
}

.form-group label *:not(div, span, [type="checkbox"], [type="file"]) {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.form-group > label > * {
    margin-top: 4px !important;
}

.form-group > label {
    display: flex;
    flex-direction: column;
}

.form-group > label:first-child {
    padding-left: 0px;
}
.form-group > label {
    padding-left: 10px;
}

.form-group-parent {
    display: flex;
}

.form-group > label:has(> input[type="checkbox"]) {
    display: block;
}

.form-group input[type="checkbox"] {
    margin-left: 10px;
}

form:has(> .form-group) .form-group:last-child {
    margin-bottom: 0 !important;
}
