.aOptions {
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    text-decoration-line: none;
    color: black;
}

.titleOptions {
    font-weight: bold;
    font-size: 25px;
    color: #005f8f;
    margin-left: 8px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.imgOptions {
    margin-left: 5px;
    margin-right: 5px;
    height: 16px; 
}