.profile-card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10%;
    border: 0.2rem solid;
    border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 75%;
    text-align: left;
    row-gap: 25px;
}

.profile-card-info{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.profile-card-edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.profile-card-btn{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    background-image: url("../../files/icons/edit.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    min-width: 30px;
    min-height: 30px;
}

.profile-card-edit > *{
    margin: 0;
}

.profile-card-data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: 100%;
    row-gap: 10px;
}

.profile-card-data > *{
    margin: 0;
    width: 100%;
}

.profile-card-details{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
}

.profile-card-bio{
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 0.1rem solid;
    border-color: #00000044;
    padding: 10px;
    margin: 0;
    width: 80%;
    justify-self: flex-end;
    align-self: center;
}

.profile-card-bio > *{
    padding: 10px;
}

.profile-card-img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    aspect-ratio: 1/1;
    align-self: center;
    justify-self: center;
}

.profile-card-description{
    text-align: justify;
    overflow-y: scroll;
    max-height: 175px;
}

.tags-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.tags-container > *{
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.no-edit > button{
    display: none;
}

.profile-card-me{
    background-color: #a6ccdecd;
    border-color: #8492A6;
}

.profile-card-propietary{
    background-color: #d4d1cbdf;
    border-color: #8492A6;
}

.profile-card-tenant{
    background-color: #e4cc98b6;
    border-color: #8492A6;
}

.setting-profile-pic{
    margin-top: 15% !important;
}

h1.edit-form-title {
    font-size: 200%;
    width: 100%;
    color: #573b8a;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.profile-grid .class-profile-form .super-animated-button-wrapper {
    transform: translateY(-24px);
}


@media screen and (max-width: 1319px) {
    .no-edit{
        justify-content: center;
    }

    .profile-card-container {
        text-align: center;
    }

    .profile-card-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-card-img{
        max-width: 300px;
    }

    .profile-card-description{
        max-height: 300px;
    }

    .profile-card-details{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        width: 100%;
    }

    .profile-card-bio{
        width: 100%;
        justify-self: center;
        align-self: center;
        padding: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    .tags-container{
        margin-top: 10px;
    }

}

@media screen and (max-width: 767px) {

    .profile-card-container {
        margin-right: 10%;
        width: 90%;
        text-align: center;
        padding: 20px;
    }

    .setting-profile-pic{
        margin-top: 0% !important;
    }
}

@media screen  and (max-width: 400px){
    .tag-input{
        width: 90%;
    }
}