.reviews-box-container {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 0.1rem solid;
    border-radius: 20px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80%;
    text-align: left;
    background-color: white;
    border-color: #8492A6;
    justify-self: flex-start;
    margin: 0;
}

.reviews-box-title{
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}

.reviews-box-stars{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-top: 50px;
}

.reviews-box-img{
    margin: 0;
    width: 50px;
    height: 50px;
}

.reviews-box-average{
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.reviews-box-total {
    display: flex;
    border: 0.1rem solid;
    border-radius: 20px;
    width: 100%;
    padding: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-color: #8492A6;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.reviews-box-total-text {
    text-align: center;
}

@media screen and (max-width: 1319px) {
    .reviews-box-container {
        width: 95%;
        margin: 0;
        max-height: 60%;
    }

    .reviews-box-title {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .reviews-box-container {
        width: 90%;
        max-height: 100%;
    }
    .reviews-box-title {
        text-align: center;
    }
}

@media screen and (max-width: 310px) {
    .reviews-box-stars{
        column-gap: 10px;
    }
    .reviews-box-img{
        width: 40px;
        height: 40px;
    }
    .reviews-box-average{
        font-size: 28px;
    }
}